@font-face{font-family:'Vollkorn';font-style:normal;font-weight:normal;src:local('Vollkorn'), url(https://static.kummerlaender.eu/font/Vollkorn-Regular.woff2) format('woff2'), url(https://static.kummerlaender.eu/font/Vollkorn-Regular.woff) format('woff'), url(https://static.kummerlaender.eu/font/Vollkorn-Regular.ttf) format('truetype')}
@font-face{font-family:'Vollkorn';font-style:italic;font-weight:normal;src:local('Vollkorn'), url(https://static.kummerlaender.eu/font/Vollkorn-Italic.woff2) format('woff2'), url(https://static.kummerlaender.eu/font/Vollkorn-Italic.woff) format('woff'), url(https://static.kummerlaender.eu/font/Vollkorn-Italic.ttf) format('truetype')}
@font-face{font-family:'Oswald';font-style:normal;font-weight:normal;src:local('Oswald'), url(https://static.kummerlaender.eu/font/Oswald-Regular.woff2) format('woff2'), url(https://static.kummerlaender.eu/font/Oswald-Regular.woff) format('woff'), url(https://static.kummerlaender.eu/font/Oswald-Regular.ttf) format('truetype')}
@font-face{font-family:'Oswald';font-style:normal;font-weight:bold;src:local('Oswald'), url(https://static.kummerlaender.eu/font/Oswald-Bold.woff2) format('woff2'), url(https://static.kummerlaender.eu/font/Oswald-Bold.woff) format('woff'), url(https://static.kummerlaender.eu/font/Oswald-Bold.ttf) format('truetype')}

body{margin:0;padding:0;font:normal 1.1em 'Vollkorn',sans-serif;color:#272828;word-wrap:break-word}
a, a:visited{text-decoration:underline;color:#272828}
a:hover{color:black;text-decoration:underline !important}
a.more{font:normal 1em 'Segoe UI Symbol','Oswald',sans-serif}/*edge workaround*/
a.footnote-ref{text-decoration:none}
h1, h2, h3, h4{font-family:'Oswald',sans-serif;font-weight:normal;margin:0;color:#272828}
h1{font-weight:bold}
h1 a, h2 a{text-decoration:none}
h3{font-size:1.1em;margin:1em 0 .2em 0;border-bottom:.1em solid #e3e8e8}
h3 .arrow{font:bold 1.3em 'Oswald',sans-serif;color:#F80}
h3 a{text-decoration:none}
p{margin:0 0 .5em 0;text-align:justify;line-height:1.75em}
ul{margin:0;overflow:hidden;margin-bottom:.5em}
ul li{list-style-type:circle;line-height:1.5em}
blockquote{border-left:.4em solid #e3e8e8;margin-left:0;padding-left:1em}
pre{font-family:monospace;padding:1em;border-radius:.75em;color:#f8f8f2;background:#272822;white-space:pre-wrap}
code{font-family:monospace;margin:0 .1em;padding:0 .5em;border:.1em solid #e3e8e8;background-color:#f8f8f8;border-radius:.3em}
sup{vertical-align:baseline;position:relative;top:-0.6em}
sub{vertical-align:baseline;position:relative;top:0.4em}

#content{max-width:45em;margin:auto}
#introduction{margin-top:1.5em;overflow:hidden}
#introduction img{border-radius:0.5em;margin-right:1.5em;float:left;width:12em;height:12em}
#introduction p{width:31.5em;float:right}
#introduction .greeting{font:bold 1.1em 'Oswald',sans-serif;display:inline-block}
#content img{padding:.2em;border:.1em solid #e3e8e8;display:block;margin-left:auto;margin-right:auto;max-width:95%}

#pagination{font:normal 1em 'Oswald',sans-serif;height:1.5em;margin-top:.5em}
#pagination span.disabled{display:none}
#pagination span a{text-decoration:none;color:#272828}
#pagination span a:hover{text-decoration:underline}
#pagination span a.pagination-previous{float:left}
#pagination span a.pagination-next{float:right}

.info{font:normal .8em 'Oswald',sans-serif;margin-bottom:.5em;display:block}
.info a{margin:0 .1em 0 .1em}
.large{font-size:1.8em}
.normal{font-size:1.2em}
.menuhead{font-family:'Oswald',sans-serif;border-bottom:0.2em solid #e3e8e8;overflow:hidden;padding:0;margin-top:1.5em}
.menuhead h1, .menuhead h2{float:left;font-size:1em;line-height:1.75em}
.menuhead ul {float:right;padding:0 0 .1em 0;margin:0}
.menuhead ul li{font-size:.9em;float:left;list-style-type:none;padding:.2em .1em;margin:.1em;background:#e3e8e8;border-radius:.3em;line-height:1.2em}
.menuhead ul li:first-child{margin-left:0}
.menuhead ul li:last-child{margin-right:0}
.menuhead ul li a{text-decoration:none;color:#272828;padding:.2em}
.menuhead ul li a:hover{text-decoration:underline}

@media screen and (max-width:51em){
	#introduction p{width:auto;float:none}
	.menuhead:first-child{margin-top:0}
}
@media screen and (max-width:32em){
	#introduction img{display:block;margin:0 auto 1em;float:none}
	.menuhead ul {float:none;clear:both;padding:.1em 0 .2em 0}
	p{text-align:left}
}
